.buttons-toolbar {
    display: flex;
    justify-content: space-between;
}

.left-group {
    padding-left: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.right-group {
    padding-right: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}




